<div class="container">
    <h1>Dashboard</h1>
</div>
<div class="dashboard-container">
    <h1>Welcome, {{username}}</h1>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Mobile Number:</strong> {{mobileNumber}}</p>
    <p><strong>Occupation:</strong> {{occupation}}</p>
    <div class="dashboard-actions">
        <a href="/protected/edit-profile">Edit Details</a><br>
        <a href="/logout">Logout</a>
    </div>
</div>
